@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #FFFFFF;
  --text: #0F172A;
}

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-white text-anthracite antialiased;
}

.container-xl {
  @apply max-w-7xl mx-auto px-6;
}
